body {
    font-family: monospace;
    display: flex;
    flex-direction: row;

}

.title{
    font-size: 1rem;
    font-weight: 900;
    color: rgb(26, 150, 144)
}
.author{
    font-size: .8rem;
}
.sidebar{
    /* border: 1px solid red */
}

.ui{
    margin-top: 30px;
    /* border: 1px solid tomato; */
    height: 70%;
    user-select: none;


    
}
.ui-content{
    font-size: .7rem;
    padding-left: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly; 
    background-color: rgb(224, 221, 221)
}
.ui-content > div{

/*     border-bottom: 1px solid rgb(42, 26, 16);
    border-top: 1px solid rgb(42, 26, 16) */
}
.ui-title-bar {
    background: rgb(58, 56, 56);
    width: 100%;
    padding: 5px;
    color: rgb(224, 224, 224);
    border-top-left-radius: 5px;
}

.container {
/*     border: 1px solid rgb(0, 204, 255);*/
    width: 90%;
    margin: auto;
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-wrapper {
    background-color: rgb(71, 71, 71);
    width: 100%;
    height: 100%;
    /*     border: 1px solid rgb(0, 255, 13); */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
.canvas {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rounded-pixel {
    margin: 1px;

    /* border-top-left-radius: 0px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; */
}

.pixel-row {
    /* margin-top: -5px; */
}

input{
    width: 80px;
}
button{
    width: 80px;
    font-size: 10px;
}

.pixel-size-wrapper > input {
    width: 30px;
    font-size: 10px
}
