.appComponent {
  margin: 0px;
  /* background-color: rgb(115, 172, 219); */
  width: 100vw;
  height: 100vh;
}
.appContainer {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.appRow_1 {
  height: 10%;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}

.logoContainer {
  /* background-color: rgb(115, 107, 192); */
  width:15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toolDetailContainer{
  /* background-color: rgb(233, 255, 183); */
  width: 75%;
  height: 100%;
}

.menuContainer{
  background-color: rgb(93, 212, 172);
  width: 10%;
  height: 100%;
}

.appRow_2 {
  height: 90%;
  width: 100%;
  /* background-color: rgb(25, 160, 160); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolBarContainer{
  width: 5%;
  /* background-color: rgb(109, 204, 241); */
}
