.toolWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: small;
  width: 100%;
}

.toolChunkContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 20px 0px 20px;
  /* background-color: aquamarine; */
}
.toolChunkContainer > :nth-child(n) {
  margin: 0px 3px 0px 3px;
}

.textInput{
  border: 0px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.158);  
}

.buttonStandard{
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
  background-color: #E7457F;
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 6px;
  min-width: 70px;
  font-size: x-small;
  cursor: pointer;
}
